extends layout 
block content
    style.
        body {
            font-family: Verdana;
        }
    script(src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js")
    script.
        function addDarkmodeWidget() { 
        const options = {
            bottom: '64px', // default: '32px'
            right: '32px', // default: '32px'
            left: 'unset', // default: 'unset'
            time: '0.3s', // default: '0.3s'
            mixColor: '#ff5c5c', // default: '#fff'
            backgroundColor: 'linear-gradient(to bottom right,#ff5c5c,#fc6d6d, white);',  // default: '#fff'
            buttonColorDark: '#100f2c',  // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true // default: true
        }

        const darkmode = new Darkmode(options);
        darkmode.showWidget();

        }
        window.addEventListener('load', addDarkmodeWidget);
    div(class = "float-container", style="width:auto;")
        div(class = "float-child")
                h1(style="float: left; width:auto") Select a Song to Edit
                    div(style = "overflow: auto; height:500px;width:auto;border:1px solid #ccc; font:16px/26px Serif;")
                        if(songNames)
                                if(artistNames)
                                    each val, index in songNames
                                        p #{val}, #{artistNames[index]}
                                            if(directory)
                                                button(class = "rounded-button-list", style = "float: right", onclick="window.location.href='/edit/" + directory.replace(/\\/g, '%5C') + "/remove/" + val + "'") Remove
                                                button(class = "rounded-button-list", style = "float: right", onclick = "window.location.href='/edit/ " + directory.replace(/\\/g, '%5C') + '/' + val + "," + artistNames[index] + "'") Edit
                    div(class = "float-container")
                        if(songNames)
                            div(class = "float-child", style = "font-weight: 300; color: #f2f2f2;") Number of songs: #{songNames.length}
                        else 
                            div(class = "float-child", style = "font-weight: 300; color: #f2f2f2;") Number of songs: 0
                        if(trackLength)
                            div(class = "float-child", style = "font-weight: 300; color: #f2f2f2;") Total Track Length: #{trackLength}
                        else 
                            div(class = "float-child", style = "font-weight: 300; color: #f2f2f2;") Total Track Length: xx:xx
        div(class = "float-child")
                h1(style ="float: left; width: auto") Change Song Order
                    p(style = "font-weight: 300; width: auto") 
                        | To cut a song, select edit on the desired song on the left.
                        br